body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

h1{
    text-align: center;
    color: rgb(0, 174, 255);
}

form{
    font-size: large;
    background-color: aliceblue;
    padding: 25px;
    text-align: center;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.438);
}

#textBox{
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
    max-width: 5em;
}

hr{
    max-width: 300px;
    font-weight: bold;
}

button{
    padding: 10px;
    font-size:1em ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(228, 120, 120);
    border-radius: 5px;
    transition: background-color 0.25s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(233, 71, 71);
}

#result{
    font-size: 150%;
    font-weight: 800;
}